.frame {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #e5e5e5;
}
.main_frame {
  position: relative;
  width: 1440px;
  height: 1315px;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.left_frame {
  position: relative;
  width: 305px;
  height: 1315px;
  background-color: white;
}
.midd_frame {
  position: relative;
  width: 970px;
  height: 1259px;
  margin-left: 30px;
  margin-right: 27px;
  display: flex;
  flex-direction: column;
}
.right_frame {
  position: relative;
  width: 108px;
  height: 1315px;
  background-color: white;
}
.midd_top {
  position: relative;
  width: 970px;
  height: 467.09px;
  background-color: white;
  margin-bottom: 138.91px;
}
.midd_bot {
  position: relative;
  width: 970px;
  height: 653px;
  background-color: white;
}

.left_1 {
  position: relative;
  width: 228px;
  height: 267px;
  margin-top: 50px;
  margin-left: 37px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aqua; */
}

.marginer {
  position: relative;
  width: 220px;
  height: 0px;  
  margin-left: 40px;
  margin-bottom: 25px;
  margin-top: 39px;

  /* Background */

  border: 1.5px solid #F0F0F6;
}

.left_2 {
  position: relative;
  width: 221px;
  height: 126px;
  /* margin-top: 25px; */
  margin-left: 44px;
}

.left_3 {
  position: relative;
  width: 220px;
  height: 153px;
  margin-top: 25px;
  margin-left: 45px;
}

.left_4 {
  position: relative;
  width: 220px;
  height: 242px;
  margin-top: 25px;
  margin-left: 45px;
}

.left_5 {
  position: relative;
  width: 186px;
  height: 148px;
  margin-top: 25px;
  margin-left: 45px;
}

.left_1-1 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 156.16px;
  height: 142.53px;  
  /* margin-left: 36.44px;
  margin-right: 35.4px; */
  margin-bottom: 29.46px;
}

.left_1-1 img {
  border-radius: 85px;
  max-width: 100%;
}

.left_1-2 {
  position: relative;
  width: 66.63px;
  height: 20.9px;
  margin-bottom: 6.65px;
  /* H4 - 18px */
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  /* or 22px */
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  
  /* Black */
  
  color: #2B2B2B;
}

.left_1-3 {
  position: relative;
  width: 147.84px;
  height: 25.65px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Paragraph Progress - 15 */

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  /* or 160% */

  text-transform: capitalize;
  font-feature-settings: 'calt' off, 'kern' off;

  /* Paragraph Font */

  color: #767676;
}

.left-icons {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 238px;
  margin-top: 19px;

}

.icon {
  position: relative;
  width: 24.99px;
  height: 22.8px;
  border-radius: 50%;
  filter: drop-shadow(0 4px 4px rgba(0,0,0,.25));
  /* Yellow */
  
  background: #FFB400;
}

.icon-1 {
  position: relative;
  left: 29.17%;
  right: 27.08%;
  margin-top: 5.86px;

  /* Black */

  /* background: #2B2B2B; */
}


.left_2-1 {  
  position: relative;
  display: flex;
  /* width: 221px; */
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
}

.left_2-1-1 {
  position: relative;
  width: 46.21px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Yellow */
  
  background: #FFB400;
}

.left_2-1-2 {
  position: relative;
  width: 155.7px;
  height: 24px;
  
  
  /* Paragraph Progress - 15 */
  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  
  /* text-align: right; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-transform: capitalize;
  font-feature-settings: 'calt' off, 'kern' off;
  
  /* Black */
  
  color: #2B2B2B;
}


.left_2-1-3 {
  position: relative;
  width: 89px;
  height: 24px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  /* Yellow */

  background: #FFB400;
}

.left_2-1-4 {
  position: relative;
  width: 114px;
  height: 24px;
  
  
  /* Paragraph Progress - 15 */
  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  
  /* text-align: right; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-transform: capitalize;
  font-feature-settings: 'calt' off, 'kern' off;
  
  /* Black */
  
  color: #2B2B2B;

}


.left_2-1-5 {
  position: relative;
  width: 89px;
  height: 24px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  /* Yellow */

  background: #FFB400;
}

.left_2-1-6 {
  position: relative;
  width: 114px;
  height: 24px;
  
  
  /* Paragraph Progress - 15 */
  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  
  /* text-align: right; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-transform: capitalize;
  font-feature-settings: 'calt' off, 'kern' off;
  
  /* Black */
  
  color: #7EB942;

}


.left_2-1-7 {
  position: relative;
  width: 75px;
  height: 24px;
  
  display: flex;
  align-items: center;
  justify-content: center;

  /* Yellow */

  background: #FFB400;
}

.left_2-1-8 {
  position: relative;
  width: 126px;
  height: 24px;
  
  
  /* Paragraph Progress - 15 */
  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  
  /* text-align: right; */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-transform: capitalize;
  font-feature-settings: 'calt' off, 'kern' off;
  
  /* Black */
  
  color: #2B2B2B;

}

.languages {
  position: relative;

  width: 95px;
  height: 22px;
  
  /* H4 - 18px */
  
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  margin-bottom: 15px;
  /* or 22px */
  
  text-transform: capitalize;
  
  /* Black */
  
  color: #2B2B2B;
}

.bangla {
  position: relative;
  display: flex;
  /* width: 221px; */
  align-items: center;
  flex-direction: row;
  margin-bottom: 10px;
  border-top: 10px;
}


.bangla-1 {
  position: relative;
  width: 49px;
  height: 24px;

  /* Paragraph Progress - 15 */

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;

  color: #767676;
} 

.bangla-2 {
  position: relative;
  width: 100%;
  height: 24px;
  
  /* Paragraph Progress - 15 */
  
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  /* identical to box height, or 160% */
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-transform: capitalize;
  font-feature-settings: 'calt' off, 'kern' off;
  
  /* Paragraph Font */
  
  color: #767676;
  
}

.lan-border {
  position: relative;
  width: 220px;
  height: 4px;
  justify-content: center;
  margin-bottom: 10px;

  /* Yellow */

  border: 0.5px solid #FFB400;
  border-radius: 30px;
}

.percent-1 {
  position: relative;
  width: 218px;
  height: 2px;
  margin-top: 1px;
  
  /* Yellow */
  
  background: #FFB400;
  border-radius: 30px;
}

.percent-2 {
  position: relative;
  width: 208px;
  height: 2px;
  margin-top: 1px;
  
  /* Yellow */
  
  background: #FFB400;
  border-radius: 30px;
}

.percent-3 {
  position: relative;
  width: 190px;
  height: 2px;
  margin-top: 1px;
  
  /* Yellow */
  
  background: #FFB400;
  border-radius: 30px;
}

.percent-html {
  position: relative;
  width: 209px;
  height: 2px;
  margin-top: 1px;
  
  /* Yellow */
  
  background: #FFB400;
  border-radius: 30px;
}

.percent-nodejs {
  position: relative;
  width: 187px;
  height: 2px;
  margin-top: 1px;
  
  /* Yellow */
  
  background: #FFB400;
  border-radius: 30px;
}


.ex-skills {
  position: relative;
  width: 94px;
  height: 22px;
  margin-bottom: 19px;

  /* H4 - 18px */

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 123.6%;
  /* or 22px */

  text-transform: capitalize;

  /* Black */

  color: #2B2B2B;
}

.border {
  display: flex;
  flex-direction: row;
  margin-right: 15px;
  /* box-sizing: border-box; */

  /* position: relative; */
}

.border-1 {
  position: relative;
  width: 10px;
  height: 10px;
  /* position: relative; */

  /* Yellow */

  border: 1px solid #FFB400;
  box-sizing: border-box;
}

.border-2 {
  position: relative;
  width: 10px;
  height: 10px;
  /* margin-left: 20px; */
  margin-top: 5px ;
  margin-left: 5px;
  position: absolute;
  /* Yellow */

  border: 1px solid #FFB400;
  box-sizing: border-box;
}

.ex-skill-text {
  position: relative;
  display: flex;
  margin-bottom: 14px;
  /* width: 221px; */
  align-items: center;
  flex-direction: row;
}

.text {
  width: 100%;
  justify-content: center;
  align-items: center;
}












